<nav class="navbar navbar-inverse navbar-fixed-top bg-primary">
    <div class="container">
        <a class="navbar-brand" href="/">Gestionale Studio</a>
 		<ul class="nav mr-auto">
          <li><a class="nav-link" href="/admin/folders"><i class="fa fa-folder"></i> Pratiche</a></li>
          <li><a class="nav-link" href="/admin/users"><i class="fa fa-users"></i> Clienti</a></li>
        </ul>


            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item"><a class="nav-link" href="/users/logout"><i class="fa fa-user"></i> Esci</a></li>
            </ul>
    </ul>
    
        </div><!-- /.container -->
      
    </nav><!-- /.navbar -->
