body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.body{
  padding: 70px;
}

.center{
  text-align: center;
}

.li-folder {
  background:url('../images/folder.jpeg') 50% 50% no-repeat no-repeat;
  padding: 5px;
}

.li-document {
  background:url('../images/document.jpeg') 50% 50% no-repeat no-repeat;
  padding: 5px;
}

.hidden {
  display: none;
}

nav a {
  color: black;
}

nav a:hover{
  color: white;
}

#addUserButton {
  margin-top: 10px;
  margin-bottom: 10px;
}

#addFolderButton {
  margin-top: 10px;
  margin-bottom: 10px;
}